<!DOCTYPE html>
<html>
<head>
    <title>BMI Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
</head>
<body >
    <section class="bo">
    <h1>BMI Calculator</h1>
    <div class="main">
        <form method="POST" action="/">
            <div class="inputs">
                <input type="text" name="weight" autocomplete="off">
                <label>Enter the weight</label>
                </div>
            <div class="inputs">
                <input type="text" name="height" autocomplete="off">
                <label>Enter the height</label>
            </div>
            <div class="bu">
                <button type="submit">Submit</button>
            </div>
            </form>
    </div>
    <div class="out">
        {% if bmi %}
            Your BMI is<b> {{bmi}}</b>
        {% endif %}
    </div>
</section>
</body>
</html>